@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.template-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-family: 'Arial', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
  border-bottom: 0.1px solid grey;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  font-size: 24px;
}

.icon-button:hover {
  color: #007bff;
}

.editor-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  flex: 1;
  background-color: #f9f9f9;
  max-height: 100%;
  overflow-y: auto;
  border-right: 0.1px solid grey;
}

.file-name-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.markdown-textarea {
  width: 100%;
  height: calc(100vh - 150px);
  padding: 12px;
  font-size: 16px;
  font-family: monospace;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) #f1f1f1;
}

.markdown-textarea::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.markdown-textarea::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.markdown-textarea::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}


.save-status {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

.save-status .material-icons {
  margin-right: 5px;
  font-size: 18px;
}

.section {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.preview-section {
  padding: 20px;
  width: 50%;
  flex: 1;
  background-color: #ffffff;
  max-height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) #f1f1f1;
}

.preview-section1 {
  padding: 20px;
  width: 100%;
  align-items: center;
  flex: 1;
  background-color: #ffffff;
  max-height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) #f1f1f1;
}

.preview-section::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.preview-section::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.preview-section::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}


.markdown-preview {
  font-family: 'Georgia', serif;
  line-height: 1.6;
  color: #333;
}

.dropdown {
  position: absolute;
  top: 60px;
  left: 20px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  width: 250px;
  z-index: 10;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid #f0f0f0;
}

.dropdown li:hover {
  background-color: #f4f4f4;
}

checkbox {
  margin-right: 8px;
  transform: scale(1.2);
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin: 16px 0;
  font-size: 14px;
  border: 1px solid #ccc; 
  border-radius: 8px;
  overflow: hidden;
}

table th, table td {
  border: 1px solid #e0e0e0; 
  padding: 12px;
  text-align: left;
}

table th {
  background-color: #f9fafc;
  font-weight: bold;
  color: #333;
  border-bottom: 2px solid #ddd;
}

table tr:nth-child(even) {
  background-color: #f7f7f7;
}

table tr:hover {
  background-color: #f1f1f1;
}

.preview-section input {
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  background-color: #fff;
  cursor: not-allowed;
}

syntax {
  font-weight: bold;
  color: #007bff;
}

link {
  text-decoration: underline;
  color: #ff5722;
}

.templateX-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.templateX-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(1px);
  z-index: 5;
}

.templateX-content {
  width: 80%;
  max-width: 600px;
}

.templateX-header {
  text-align: center;
}

.templateX-textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.templateX-suggestions {
  list-style-type: none;
  padding-left: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  z-index: 10;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
  max-height: 400px;
  overflow-y: auto;
  max-width: 200%;
}

.templateX-suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.templateX-suggestion-item.selected {
  background-color: #f0f0f0;
}

.templateX-button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
}
